<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>배추마켓 - 상세 페이지</title>
    <link
      rel="stylesheet preload"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard-dynamic-subset.css"
    />
    <link rel="stylesheet" href="/style/index.css" />
  </head>

  <body>
    <h1 class="a11yHidden">배추마켓</h1>
    <header>
      <h2 class="a11yHidden">기본 정보</h2>
      <div class="timeWrapper">
        <time class="timeInfo" datetime="2023-06-25T02:26">2:26</time>
        <ul class="cellInfo">
          <li class="cellItem">
            <span class="sprite spriteSensitivity"></span>
            <span class="a11yHidden">수신감도</span>
          </li>
          <li class="cellItem">
            <span class="sprite spriteLte"></span>
            <span class="a11yHidden">데이터 종류</span>
          </li>
          <li class="cellItem">
            <span class="sprite spriteBattery"></span>
            <span class="a11yHidden">배터리 잔량</span>
          </li>
        </ul>
      </div>
      <div class="statusBar">
        <ul class="headerList">
          <li class="headerItem">
            <a
              class="sprite spriteBack"
              aria-label="뒤로가기"
              href="search.html"
              tabindex="0"
            ></a>
          </li>
          <li class="headerItem">
            <a
              class="sprite spriteHome"
              href="./main.html"
              aria-label="홈"
              tabindex="0"
            ></a>
          </li>
        </ul>
        <ul class="headerList">
          <li class="headerItem">
            <a
              class="sprite spriteShare"
              aria-label="공유"
              href="search.html"
              tabindex="0"
            ></a>
          </li>
          <li class="headerItem">
            <a
              class="sprite spriteMore"
              href="/"
              aria-label="더보기"
              tabindex="0"
            ></a>
          </li>
        </ul>
      </div>
    </header>

    <main>
      <section class="">
        <h2 class="a11yHidden" id="productLabel">상품 이미지</h2>
        <figure class="productImage">
          <img class="productImg" src="/images/macbook.png" alt="중고맥북" />
        </figure>
      </section>
      <h2 class="a11yHidden">판매자 정보</h2>
      <div class="productSeller">
        <dl>
          <dt class="sellerName">맥이뜸</dt>
          <dd class="sellerLocation">응암동</dd>
          <dd>
            <img
              src="/images/imggray_bg.png"
              alt="판매자 이미지"
              class="sellerImage"
            />
          </dd>
        </dl>
        <div>
          <span> 41.2 &#8451; 😀</span>
          <span>매너온도</span>
        </div>
      </div>

      <section class="productInfo">
        <h2 class="a11yHidden">상품 정보</h2>
        <div class="productDetail">
          <span class="productTitle">2020 MacBook Air M1</span>
          <span class="productRelease"
            >컴퓨터 &middot;
            <time datetime="2023-06-25T02:29">17분전</time></span
          >
          <p class="productBrief">
            상태 깨끗하고 좋아요 <br />
            왜냐하면 맥을 사용할 줄 몰라서 넷플릭스용으로만 봤어요. 집근처에서
            거래 희망합니다.
          </p>
        </div>
      </section>
      <section class="relatedWrapper">
        <h2 class="a11yHidden">관련 콘텐츠</h2>
        <p class="relatedContents">이 글과 함께 봤어요</p>
        <ul class="relatedList">
          <li class="realtedItem">
            <a href="/" class="relatedContents__link">
              <img
                src="/images/imggray_bg.png"
                alt="상품이미지"
                class="relatedContents__img"
              />
              <p class="relatedContents__title">스타벅스 아메리카노</p>
              <p class="relatedContents__price">10,000원</p>
            </a>
          </li>
          <li class="realtedItem">
            <a href="/" class="relatedContents__link">
              <img
                src="/images/imggray_bg.png"
                alt="상품이미지"
                class="relatedContents__img"
              />
              <p class="relatedContents__title">로지텍 키보드</p>
              <p class="relatedContents__price">80,000원</p>
            </a>
          </li>
          <li class="realtedItem">
            <a href="/" class="relatedContents__link">
              <img
                src="/images/imggray_bg.png"
                alt="상품이미지"
                class="relatedContents__img"
              />
              <p class="relatedContents__title">스타벅스 아메리카노</p>
              <p class="relatedContents__price">10,000원</p>
            </a>
          </li>
          <li class="realtedItem">
            <a href="/" class="relatedContents__link">
              <img
                src="/images/imggray_bg.png"
                alt="상품이미지"
                class="relatedContents__img"
              />
              <p class="relatedContents__title">로지텍 키보드</p>
              <p class="relatedContents__price">80,000원</p>
            </a>
          </li>
        </ul>
      </section>
    </main>
    <footer>
      <div>
        <image src="" alt="좋아요"></image>
        <span></span>
        <div>
          <span>820,000원</span>
          <span>가격 제안하기</span>
        </div>
      </div>
      <button><span>채팅하기</span></button>
    </footer>
  </body>
</html>
