<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Super 4y 엔터이듬</title>
    <link
      rel="stylesheet preload"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard-dynamic-subset.css"
    />
    <link rel="stylesheet" href="./../../css/main.css" />
  </head>

  <body>
    <h1 class="a11yHidden">엔터이듬</h1>

    <header class="mainHeader searchHeader">
      <h2 class="a11yHidden">기본 정보</h2>
      <div class="timeWrapper">
        <time class="timeInfo" datetime="2023-06-25T02:26">2:26</time>
        <ul class="cellInfo">
          <li class="cellItem">
            <span class="sprite spriteSensitivity"></span>
            <span class="a11yHidden">수신감도</span>
          </li>
          <li class="cellItem">
            <span class="sprite spriteLte"></span>
            <span class="a11yHidden">데이터 종류</span>
          </li>
          <li class="cellItem">
            <span class="sprite spriteBattery"></span>
            <span class="a11yHidden">배터리 잔량</span>
          </li>
        </ul>
      </div>
    </header>

    <main>
      <form action="/" class="searchWrapper">
        <fieldset>
          <legend>검색 폼</legend>
          <label for="search">
            <span class="sprite spriteBack searchHeaderBack"></span
            ><span class="a11yHidden">검색</span>
          </label>
          <input type="search" id="search" class="searchInput" placeholder="창천동 근처에서 검색" />
        </fieldset>
      </form>
      <div class="searchContent">
        <h2 class="a11yHidden">많이 찾는 검색어</h2>
        <p class="searchRecommend">친구들이 많이 찾고 있어요!</p>
        <ul class="searchList">
          <li class="searchItem">
            <button type="button" class="searchKeyword">노트북</button>
          </li>
          <li class="searchItem">
            <button type="button" class="searchKeyword">노트북 거치대</button>
          </li>
          <li class="searchItem">
            <button type="button" class="searchKeyword">키보드</button>
          </li>
          <li class="searchItem">
            <button type="button" class="searchKeyword">마우스</button>
          </li>
          <li class="searchItem">
            <button type="button" class="searchKeyword">헤드셋</button>
          </li>
        </ul>

        <button type="submit" class="submitButton">완료</button>
      </div>
    </main>
  </body>
</html>
