/* @import 'tailwindcss/base'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/styles.css */
@layer components {
  .plusButton:hover + .exchangeWrite {
    visibility: visible;
    opacity: 1;
  }
  .plusButton:hover span {
    color: black !important;
  }
}
<<<<<<< HEAD

=======
>>>>>>> develop
@layer utilities {
  html {
    height: 100%;
  }
  body {
<<<<<<< HEAD
    @apply bg-white max-w-xs min-w-[20rem] h-full shadow-[rgba(0,0,0,0.16)_0px_0px_8px] border mx-auto border-solid border-[#e9e9e9];
=======
    @apply bg-white max-w-xs min-w-[20rem] h-full border mx-auto border-solid border-[#e9e9e9];
>>>>>>> develop
    font-family:
      Pretendard,
      -apple-system,
      BlinkMacSystemFont,
      system-ui,
      Roboto,
      'Helvetica Neue',
      'Segoe UI',
      'Apple SD Gothic Neo',
      'Noto Sans KR',
      'Malgun Gothic',
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol',
      sans-serif;
    font: inherit;
<<<<<<< HEAD
  }
  main {
    /* position: relative; */
    width: 320px;
  }
}
=======
    position: relative;
  }
  main {
    position: relative;
    width: 320px;
    height: 100%;
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: #719cf7;
}
>>>>>>> develop
