<!doctype html>
<html lang="ko-KR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" type="image/xml+svg" />
  <!-- <link href="/dist/output.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="./css/main.css" />
  <script src="./js/main.js" type="module"></script>
  <title>Q&A 채팅 리스트 페이지</title>
</head>

<body>
  <h1 class="a11yHidden">QNA 채팅 리스트 페이지</h1>

  <div class="sizingWrapper">
    <!-- Q&A p + qr스캔 알람 -->
    <header class="mainHeader backHeaderButton">
      <h2 class="a11yHidden">기본 정보</h2>
      <div class="timeInfo">
        <time class="timeInfoDate" datetime="2023-08-02T02:26">2:26</time>
        <ul class="celluarInfo">
          <li class="celluarInfoItem">
            <span class="sprite spriteReceptionSensitivity"></span>
            <p class="a11yHidden">수신감도</p>
          </li>
          <li class="celluarInfoItem">
            <span class="sprite spriteLte"></span>
            <p class="a11yHidden">데이터 종류</p>
          </li>
          <li class="celluarInfoItem">
            <span class="sprite spriteBattery"></span>
            <p class="a11yHidden">배터리 잔량</p>
          </li>
        </ul>
      </div>
      <ul class="statusBar">
        <li class="statusItem qnaHeaderChatQ">
          <p>질문채팅</p>
        </li>
        <li class="statusItem">
          <a href="/" class="statusLink qnaHeaderQr sprite spriteQr"><span class="a11yHidden">Q.R. 스캔</span></a>
        </li>
        <li class="statusItem">
          <a href="/" class="statusLink qnaHeaderAlarm sprite spriteAlarm"><span class="a11yHidden">알람</span></a>
        </li>
      </ul>
      </header>
      
      <nav class="commonNav">
        <h2 class="a11yHidden">메뉴</h2>
        <ul class="commonNavList">
          <li class="commonNavItem">
            <a href="./main.html" class="commonNavLink">
              <span class="sprite spriteHome"></span>
              <span>홈</span>
            </a>
          </li>
          <li class="commonNavItem">
            <a href="../board/board.html" class="commonNavLink">
              <span class="sprite spriteBoard"></span>
              <span>게시판</span>
            </a>
          </li>
          <li class="commonNavItem">
            <a href="./exchange.html" class="commonNavLink">
              <span class="sprite spritePlace"></span>
              <span>내 근처</span>
            </a>
          </li>
          <li class="commonNavItem">
            <a href="../qna/chatlists.html" class="commonNavLink">
              <span class="sprite spriteFillChat"></span>
              <span>채팅</span>
            </a>
          </li>
          <li class="commonNavItem">
            <a href="../profile/profile.html" class="commonNavLink">
              <span class="sprite spriteMyPage"></span>
              <span>내 정보</span>
            </a>
          </li>
        </ul>
      </nav>
      
      <main>
        <!-- 채팅창 목록 -->
        <ul class="qnaChatList">
          <!-- 채팅창 하나 -->
          <li class="qnaChatItem">
            <a href="chatcontent.html" class="qnaChatLink">
              <img src="/images/Rectangle.png" alt="프로필 이미지" class="qnaChatProfileImg" />
              <div class="qnaChatProfile">
                <span class="qnaChatName">이드미</span>
                <span class="qnaChatInfo">망원동 &#183;
                  <time datetime="2023-08-02T11:30">3일 전</time>
                </span>
                <p class="qnaChatMessage">알겠습니다!</p>
              </div>
              <img src="/images/qnalistImage.png" alt="QNA 게시글 첨부 이미지" class="qnaChat__img" />
            </a>
          </li>
      
          <li class="qnaChatItem">
            <a href="chatcontent.html" class="qnaChatLink">
              <img src="/images/Rectangle.png" alt="프로필 이미지" class="qnaChatProfileImg" />
              <div class="qnaChatProfile">
                <span class="qnaChatName">멋사와 함께</span>
                <span class="qnaChatInfo">성산제2동 &#183;
                  <time datetime="2023-08-02T11:27">3일 전</time>
                </span>
                <p class="qnaChatMessage">디버깅은 해보셨어용?!</p>
              </div>
            </a>
          </li>
      
          <li class="qnaChatItem">
            <a href="chatcontent.html" class="qnaChatLink">
              <img src="/images/Rectangle.png" alt="프로필 이미지" class="qnaChatProfileImg" />
              <div class="qnaChatProfile">
                <span class="qnaChatName">4기네이버</span>
                <span class="qnaChatInfo">연남동 &#183;
                  <time datetime="2023-08-02T11:20">3일 전</time>
                </span>
                <p class="qnaChatMessage">네이버 면접준비하러갑니다.</p>
              </div>
              <img src="/images/qnalistImage.png" alt="QNA 게시글 첨부 이미지" class="qnaChatImg" />
            </a>
          </li>
      
          <li class="qnaChatItem">
            <a href="chatcontent.html" class="qnaChatLink">
              <img src="/images/Rectangle.png" alt="프로필 이미지" class="qnaChatProfileImg" />
              <div class="qnaChatProfile">
                <span class="qnaChatName">크크오가즈아</span>
                <span class="qnaChatInfo">남가좌제1동 &#183;
                  <time datetime="2023-08-02T11:00">3일 전</time>
                </span>
                <p class="qnaChatMessage">넵! 알려주신대로 해보겠습니다!</p>
              </div>
      
            </a>
          </li>
      
          <li class="qnaChatItem">
            <a href="chatcontent.html" class="qnaChatLink">
              <img src="/images/Rectangle.png" alt="프로필 이미지" class="qnaChatProfileImg" />
              <div class="qnaChatProfile">
                <span class="qnaChatName">EUIDDDD</span>
                <span class="qnaChatInfo">연희동 &#183;
                  <time datetime="2023-06-26T10:52">3일 전</time>
                </span>
                <p class="qnaChatMessage">이 부분에서 auto layout 적용하면 되나요?</p>
              </div>
      
            </a>
          </li>
      
          <li class="qnaChatItem">
            <a href="chatcontent.html" class="qnaChatLink">
              <img src="/images/Rectangle.png" alt="프로필 이미지" class="qnaChatProfileImg" />
              <div class="qnaChatProfile">
                <span class="qnaChatName">피그마마보이</span>
                <span class="qnaChatInfo">상수동 &#183;
                  <time datetime="2023-08-02T10:41">3일 전</time>
                </span>
                <p class="qnaChatMessage">그러면 이 부분에서는 어떻게 해야하나요?</p>
              </div>
              <img src="/images/qnalistImage.png" alt="QNA 게시글 첨부 이미지" class="qnaChatImg" />
            </a>
          </li>
      
          <li class="qnaChatItem">
            <a href="chatcontent.html" class="qnaChatLink">
              <img src="/images/Rectangle.png" alt="프로필 이미지" class="qnaChatProfileImg" />
              <div class="qnaChatProfile">
                <span class="qnaChatName">카페인조아</span>
                <span class="qnaChatInfo">연희동 &#183;
                  <time datetime="2023-08-02T10:39">3일 전</time>
                </span>
                <p class="qnaChatMessage">오늘 저녁에 연회동 근처에서 만날까요?</p>
              </div>
              <img src="/images/qnalistImage.png" alt="QNA 게시글 첨부 이미지" class="qnaChatImg" />
            </a>
          </li>
      
          <li class="qnaChatItem">
            <a href="chatcontent.html" class="qnaChatLink">
              <img src="/images/Rectangle.png" alt="프로필 이미지" class="qnaChatProfileImg" />
              <div class="qnaChatProfile">
                <span class="qnaChatName">가보자고</span>
                <span class="qnaChatInfo">망원동 &#183;
                  <time datetime="2023-06-26T10:25">3일 전</time>
                </span>
                <p class="qnaChatMessage">aria-hidden을 여기에 적용하면 되나요?</p>
              </div>
              <img src="/images/qnalistImage.png" alt="QNA 게시글 첨부 이미지" class="qnaChatImg" />
            </a>
          </li>
      
          <li class="qnaChatItem">
            <a href="chatcontent.html" class="qnaChatLink">
              <img src="/images/Rectangle.png" alt="프로필 이미지" class="qnaChatProfileImg" />
              <div class="qnaChatProfile">
                <span class="qnaChatName">MACBOY</span>
                <span class="qnaChatInfo">망원동 &#183;
                  <time datetime="2023-06-26T10:11">3일 전</time>
                </span>
                <p class="qnaChatMessage">m1칩 air입니까? pro입니까?</p>
              </div>
              <img src="/images/qnalistImage.png" alt="QNA 게시글 첨부 이미지" class="qnaChatImg" />
            </a>
          </li>
      
        </ul>
      
      </main>
      </div>
      
      </body>
      
      </html>