<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인2</title>
</head>
<body>
    <div class="wrapper">
        <!-- 상단 영역(시간, 배터리)
        <article>
            <header class="mainHeader locationHeader">
                <h2 class="a11yHidden">기본 정보</h2>
                <div class="timeInfo">
                <time class="timeInfo__date" datetime="2023-06-25T02:26">2:26</time>
                <ul class="celluarInfo">
                    <li class="celluarInfo__item">
                    <span class="sprite spriteReceptionSensitivity"></span>
                    <p class="a11yHidden">수신감도</p>
                    </li>
                    <li class="celluarInfo__item">
                    <span class="sprite spriteLte"></span>
                    <p class="a11yHidden">데이터 종류</p>
                    </li>
                    <li class="celluarInfo__item">
                    <span class="sprite spriteBattery"></span>
                    <p class="a11yHidden">배터리 잔량</p>
                    </li>
                </ul>
                </div>
            </header>
        </article>-->
        <nav class="logInHeader2">
            <img src="<돌아가는 화살표 sgv 스프라이트 넣기" alt="되돌아가기" />
        </nav>
        <div class="logInMain2">
            <main class="logInMain">
                <input inputmode="tel" placeholder="휴대폰 번호(-없이 숫자만 입력)" class="inputLogInMessage2" />
                <button class="logInMessageSend2" >
                    인증문자 다시 받기
                    <span>(04분 57초)</span>
                </button>
                <input inputmode="tel" placeholder="인증번호 입력" class="logInMessageCheck"/>
                    <span class="logInWarningMessage">어떤 경우에도 타인에게 공유하지마세요!</span>
            </main>
            <footer class="logInFooter2">
                <button class="logInStartBtn" onclick= "location.href='main.html'">동의하고 시작하기</button>
                <a href="" class="logInStartNo">인증번호가 오지 않아요?</a>
            </footer>
        </div>
    </div>
</body>
</html>