<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입</title>
</head>
<body>
    <div class="wrapper">
        <!-- 상단 영역(시간, 배터리)
        <article>
            <header class="mainHeader locationHeader">
                <h2 class="a11yHidden">기본 정보</h2>
                <div class="timeInfo">
                <time class="timeInfo__date" datetime="2023-06-25T02:26">2:26</time>
                <ul class="celluarInfo">
                    <li class="celluarInfo__item">
                    <span class="sprite spriteReceptionSensitivity"></span>
                    <p class="a11yHidden">수신감도</p>
                    </li>
                    <li class="celluarInfo__item">
                    <span class="sprite spriteLte"></span>
                    <p class="a11yHidden">데이터 종류</p>
                    </li>
                    <li class="celluarInfo__item">
                    <span class="sprite spriteBattery"></span>
                    <p class="a11yHidden">배터리 잔량</p>
                    </li>
                </ul>
                </div>
            </header>
        </article>-->
        <nav class="nav">
            <img src="< 돌아가는 화살표 sgv 스프라이트 넣기" alt="되돌아가기" />
        </nav>
        <div class="signUpMain">
            <header class="singUpInfo">
                <span>안녕하세요!</span>
                <h2>휴대폰 번호로 가입해 주세요</h2>
                <span class="signUpInfoMore">휴대폰 번호는 안전하게 보관되며 서로에게 공개되지 않아요.</span>
            </header>
            <main class="signUpMessage">
                <input inputmode="tel" placeholder="휴대폰 번호(-없이 숫자만 입력)" class="inputSignUpMessege"/>
                <button class="signUpMessageSend" onclick= "location.href='signUp2.html'">인증문자 받기</button>
            </main>
            <footer class="signUpFind">
                <span class="signUpfind">휴대폰 번호가 변경되었나요?</span>
                <a class="signUpEmail">이메일로 계정 찾기</a>
            </footer>
        </div>
    </div>
</body>
</html>