<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500"
      type="image/xml+svg"
    />

    <link rel="stylesheet" href="../../css/main.css" />
    <script src="../../js/main.js" type="module"></script>
    <title>project</title>
  </head>

  <body>
    <header>
      <h2 class="sr-only">기본 정보</h2>
      <div class="flex justify-between items-center pt-2 px-4">
        <time class="inline-block text-sm font-semibold" datetime="2023-06-25T02:26">2:26</time>
        <ul class="flex justify-start items-start border-0">
          <li class="cellItem">
            <span
              class="inline-block bg-[url('./../../assets/icons/Icon/sprite.svg')] bg-no-repeat w-5 h-5 bg-[-95px_-8px] ml-[5px]"
            ></span>
            <span class="sr-only">수신감도</span>
          </li>
          <li class="cellItem">
            <span
              class="inline-block bg-[url('./../../assets/icons/Icon/sprite.svg')] bg-no-repeat w-5 h-5 bg-[-121px_-7px]"
            ></span>
            <span class="sr-only">데이터 종류</span>
          </li>
          <li class="cellItem">
            <span
              class="inline-block bg-[url('./../../assets/icons/Icon/sprite.svg')] bg-no-repeat w-5 h-5 bg-[-148px_-8px] ml-[5px]"
            ></span>
            <span class="sr-only">배터리 잔량</span>
          </li>
        </ul>
      </header>
      
      
      <main class="content pl-3 pb-0">
        <div class="flex flex-nowrap flex-row items-stretch justify-between">
          <div
            class="py-3 my-4 bg-[url('../../assets/icons/Icon/sprite.svg')] bg-no-repeat w-5 h-5 bg-[-155px_-98px]"
          ></div>
          
          
            <div class="flex flex-nowrap flex-row items-stretch justify-end pr-3">
              <div
            class="py-3 my-4 bg-[url('../../assets/icons/Icon/sprite.svg')] bg-no-repeat w-5 h-5 bg-[-241px_-46px]"
          ></div>
          <div
            class="py-3 my-4 ml-2 bg-[url('../../assets/icons/Icon/sprite.svg')] bg-no-repeat w-5 h-5 bg-[-254px_-254px]"
          ></div>
            </div>
        </div>
        
        <span class="boardLabel text-white bg-[#c4c7d2] rounded px-1 py-0 text-[0.625rem] font-[400]">📝스터디</span>
        
          
          
        
        <h2 class="h-[40px] text-[1.1625rem] font-semibold py-[0.5625rem]">
          <span class="contentStatus text-[#5A85EE]">모집중</span> EUID 피그마 스터디 하실분~
        </h2>
        <div class="h-[16px] flex text-sm box-border my-1">
          <span class="inline-block bg-[url('./../../assets/icons/Icon/sprite.svg')] bg-no-repeat w-5 h-5 bg-[-108px_-152px]"></span>
          누구나 참여 가능
        </div>
        <div class="h-[16px] flex text-sm box-border my-1">
          <span class="inline bg-[url('./../../assets/icons/Icon/board_scalenderIcon.png')] bg-no-repeat w-5 h-5"></span>
          오늘 
        </div>
       
        <div class="h-auto mb-9 text-sm">
          <p>연남동 거주하시는 분 중에서 이번에 시작하는 멋사플레이스 피그마 스터디 하실분~~~</p>
          <p>아직 기초라서 조금 능숙한분과 함께 했으면 좋겠습니다. 툴은 figma 사용할 예정입니다.</p>
          <br />
          <p>하다가 어려우면 선범님 강의 결제 예정입니다.</p>
          <p>같이 강의도 나눠서 결제하고 들으면 더 좋을 것 같습니다! ㅎㅎ</p>
          <p>*연남동 스타벅스에서 매주 월요일 진행!</p>
        </div>
        <p class="contentMember h-12 pt-[0.8125rem] text-sm font-semibold">
          참여중인 이웃 <span class="contentMemberCounter text-[#5A85EE]">1</span></span>/4
        </p>
        <div class="contentMemberProfile text-[0.625rem]  h-[30px]">
          <div class="flex flex-nowrap flex-row  items-stretch">
            <div
              class="contentMemberThumbnail w-[1.875rem] h-[1.875rem] bg-[#919191] inline-block rounded-[50px]"
            ></div>
            <div class="px-1">
              <div
                class="contentMemberInfo flex flex-nowrap flex-row items-stretch justify-between"
              >
                <p>멋사드미</p>
                <span class="inline-block bg-[url('./../../assets/icons/Icon/sprite.svg')] bg-no-repeat w-5 h-5 bg-[-200px_-138px]"></span>
                
                  모임장
              
            </div>
            <p class="contentMemberTown">연남동 인증 4회</p>
          </div>
        </div>
      </main>
      <div class="w-full">
        <button
            class="nextButton ml-3 bg-[#373F67] text-[white] text-sm w-[295px] h-[45px] fixed mt-6 mb-[2.125rem] mr-[3.75%] rounded-lg border-0 bottom-[2.125rem]"
            onclick="location.href='/'"
          >
            채팅방으로 이동
          </button>
      </div>
    </div>
  </body>
</html>
