<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500"
      type="image/xml+svg"
    />

    <link rel="stylesheet" href="../../css/main.css" />
    <script src="../../js/main.js" type="module"></script>
    <title>project</title>
  </head>

  <body>
    <div
      class="outer px-3 w-80 h-[763px] -translate-x-2/4 -translate-y-2/4 absolute bg-yellow-200 left-2/4 top-2/4 overflow-hidden"
    >
    <header class="">
      <div
      class="backBar flex flex-nowrap flex-row py-2 h-[36px] bg-pink-500 items-stretch justify-between"
      >
      <div class=""><img src="/" class="left-[12px] absolute" alt="/" tabindex="0" /></div>
      <h2 class="subjectTitle text-sm">EUID 피그마 스터디 하실 분 ~</h2>
          <div class="">
            <img src="/" role="button" alt="더보기" tabindex="0" />
          </div>
        </div>
      
      <div class="chatContainer fixed bottom-0 inset-x-0 bg-pink-300 pt-2 pb-6 px-3 box-border">
        <section class="chatContents flex justify-start items-center w-full bottom-[1.875rem] flex-row flex-nowrap 
        ">
          <div class="moreContents "><img src="/" alt="/" /></div>
          <div class="chatInput">
            <div class="chatInputContainer">
              <form class="">
                <label for="chatSend"></label>
                <input class="h-[38px] text-sm leading-[160%] grow-[2] px-3 py-2 rounded-[20px] border-[none]" type="text" id="chatSend" placeholder="메시지 보내기" />
                <button type="submit" class="send" data-name="send">
                  <span class="chatSendSprite"></span>
                </button>
              </form>
            </div>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
