<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500"
      type="image/xml+svg"
    />

    <link rel="stylesheet" href="../../css/main.css" />
    <script src="../../js/main.js" type="module"></script>
    <title>project</title>
  </head>

  <body>
    <header>
      <h2 class="sr-only">기본 정보</h2>
      <div class="flex justify-between items-center pt-2 px-4">
        <time class="inline-block text-sm font-semibold" datetime="2023-06-25T02:26">2:26</time>
        <ul class="flex justify-start items-start border-0">
          <li class="cellItem">
            <span
              class="inline-block bg-[url('./../../assets/icons/Icon/sprite.svg')] bg-no-repeat w-5 h-5 bg-[-95px_-8px] ml-[5px]"
            ></span>
            <span class="sr-only">수신감도</span>
          </li>
          <li class="cellItem">
            <span
              class="inline-block bg-[url('./../../assets/icons/Icon/sprite.svg')] bg-no-repeat w-5 h-5 bg-[-121px_-7px]"
            ></span>
            <span class="sr-only">데이터 종류</span>
          </li>
          <li class="cellItem">
            <span
              class="inline-block bg-[url('./../../assets/icons/Icon/sprite.svg')] bg-no-repeat w-5 h-5 bg-[-148px_-8px] ml-[5px]"
            ></span>
            <span class="sr-only">배터리 잔량</span>
          </li>
        </ul>
      </header>

      <main class="px-3 pb-0 w-80">
        <div class="flex flex-nowrap flex-row items-stretch justify-between">
          <div
            class="py-3 my-4 bg-[url('../../assets/icons/Icon/sprite.svg')] bg-no-repeat w-5 h-5 bg-[-155px_-98px]"
          ></div>
          
          <h2 class="subjectTitle py-4 pl-3 text-sm">EUID 피그마 스터디 하실 분 ~ <span class="font-semibold text-[rosybrown]">1</span></h2>
          

          <div class="my-2.5 pr-1">
            <div
              class="inline-block my-4 bg-[url('../../assets/icons/Icon/board_hamburgerIcon.png')] bg-no-repeat w-5 h-5 ml-[0.1875rem] mt-0.5"
            ></div>
          </div>


        </div>

        
        
      </div>
    </div>
    <div class="chatContainer w-full h-full bg-yellow-300">



    </div>
  </main>
  <section class="chatContents fixed flex justify-start items-center w-80 h- bottom-0 flex-row flex-nowrap bg-pink-300
  ">
    <div class="w-full flex justify-start items-center  bottom-0 flex-row flex-nowrap  ">
      <div class="moreContents "><img src="/" alt="/" /></div>
      <div class="chatInput">
        <div class="chatInputContainer">
          <form class="">
            <label for="chatSend"></label>
            <input class="h-[38px] text-sm leading-[160%] grow-[2] px-3 py-2 rounded-[20px] border-[none]" type="text" id="chatSend" placeholder="메시지 보내기" />
            <button type="submit" class="send" data-name="send">
              <span class="chatSendSprite"></span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>

  </body>
</html>
