<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500"
      type="image/xml+svg"
    />

    <link rel="stylesheet" href="../../css/main.css" />
    <script src="../../js/main.js" type="module"></script>
    <title>project</title>
  </head>

  <body>
    <div
      class="outer w-80 h-[763px] -translate-x-2/4 -translate-y-2/4 absolute bg-[red] left-2/4 top-2/4 overflow-hidden"
    >
      <!--<div class="statusWrap flex justify-between items-stretch flex-nowrap flex-row"> 
        <h2 class="a11yHidden">기본 정보</h2>
        <div class="flex justify-between items-stretch flex-nowrap flex-row">
          <time class="statusTime" datetime="2023-06-25T02:26">2:26</time>
          <ul class="statusCell flex justify-between items-stretch flex-nowrap flex-row">
            <li class="cellStick">
              <span class="cellStickSprite"></span>
              <p class="a11yHidden">수신감도</p>
            </li>
            <li class="statusLte">
              <span class="statusLteSprite"></span>
              <p class="a11yHidden">데이터 종류</p>
            </li>
            <li class="statusBattery">
              <span class="statusBatterySprite"></span>
              <p class="a11yHidden">배터리 잔량</p>
            </li>
          </ul>
        </div>
      </div>-->
      <header class="boardHeader fixed top-0 inset-x-0">
      <main>
        <div class="">
          <ul
            class="flex items-stretch flex-nowrap flex-row px-5 bg-yellow-200 justify-between py-1.5"
          >
            <li>
              <form action="#">
                <label for="town"></label>
                <select class="appearance-none text-lg font-bold inline-block" name="townSelect" id="town" size="1">
                  <option value="town1">남가좌제2동</option>
                  <option value="town2">신내동</option>
                  <option value="town3">다산신도시</option>
                  <option value="town4">북경</option>
                  <option value="town5">전남</option>
                  <option value="town6">부산</option>
                  <option value="best">지도에서 찾기</option>
                </select>

                <!-- <input type="submit" value="Submit" /> -->
              </form>
            </li>
            <li class="flex justify-between items-stretch flex-nowrap flex-row">
              <img src="/" alt="/" />
              <img src="/" alt="/" />
              <img src="/" alt="/" />
            </li>
          </ul>
        </div>
        <div class="subjectBar px-3 py-2">
          <button
            class="subjectList border text-[0.66rem] bg-transparent no-underline cursor-pointer px-2.5 py-1.5 rounded-[20px] border-solid border-[#9DA1B4]"
            onclick="location.href='/'"
          >
            <span class="hamburgerSprite" aria-hidden="true"></span>주제
          </button>
          <button
            class="subjectFavorite border text-[0.66rem] bg-transparent no-underline cursor-pointer px-2.5 py-1.5 rounded-[20px] border-solid border-[#9DA1B4]"
          >
            인기글
          </button>
          <button
            class="subjectTogether border text-[0.66rem] bg-transparent no-underline cursor-pointer px-2.5 py-1.5 rounded-[20px] border-solid border-[#9DA1B4]"
          >
            같이해요
          </button>
          <button
            class="subjectQna border text-[0.66rem] bg-transparent no-underline cursor-pointer px-2.5 py-1.5 rounded-[20px] border-solid border-[#9DA1B4]"
            onclick="location.href='qna.html'"
          >
            질의응답
          </button>
          <button
            class="subjectBoard border text-[0.66rem] bg-transparent no-underline cursor-pointer px-2.5 py-1.5 rounded-[20px] border-solid border-[#9DA1B4]"
          >
            자유게시판
          </button>
        </div>
      </header>
        <div class="boardWrap bg-purple-700 pt-[5.625rem]">
          <section class="boardSection box-border p-3 flex justify-between items-stretch flex-nowrap flex-row">
            <div class="boardContainer w-[190px]">
              <span class="boardLabel">같이해요</span>
              <h3 class=" whitespace-nowrap overflow-hidden text-ellipsis block"><a href="#">youtube 클론 프젝 같이 하실분~!</a></h3>
              <p class="boardPeople text-[#9DA1B4] text-[0.625rem] font-[400]">
                <span class="boardHumanSprite" aria-hidden="true"></span>
                누구나 참여가능
              </p>
              <p class="text-[#9DA1B4] text-[0.625rem] font-[400]">
                <span class="calenderSprite" aria-hidden="true"></span>
                내일, 오후 7:00
              </p>
              <p class="text-[#9DA1B4] text-[0.625rem] font-[400]">응암제 3동 • 9분 전</p>
            </div>
            <p class="boardCounter ml-auto mr-0 mt-auto mb-0 text-[#9DA1B4] text-[0.625rem] font-[400]">
              <span class="counterSprite" aria-hidden="true"></span>
              1/3명
            </p>
          </section>
         

          <section class="boardSection box-border p-3 flex justify-between items-stretch flex-nowrap flex-row">
            <div class="boardContainer w-[190px]">
              <span class="boardLabel">질의응답</span>
              <h3 class="whitespace-nowrap overflow-hidden text-ellipsis block"><a href="#">아니 디버깅 돌려봤는데도 왜 이렇게 나오는거죠 대체</a></h3>
              <p class="whitespace-nowrap overflow-hidden text-ellipsis block">
                내가 혼자 게임 만들려고 코드 짰는ㄷ ㅔ 왜 이런거야 도대체 알수가없네
                수가없네수가없네수가없네수가없네수가없네수가없네수가없네수가없네수가없네수가없네수가없네
              </p>
              <p class="text-[#9DA1B4] text-[0.625rem] font-[400]">연희동 • 49분 전 • 조회 4</p>
            </div>
            <p class="w-[60px] h-[60px] rounded-[5px] relative bg-green-400 inine-block "><img src="/" class="absolute -translate-x-2/4 -translate-y-2/4 max-w-full max-h-full left-2/4 top-2/4" alt="미리보기 사진" /></p>
          </section>

          <section class="boardSection box-border p-3 flex justify-between items-stretch flex-nowrap flex-row">
            <div class="boardContainer w-[190px]">
              <span class="boardLabel">질의응답</span>
              <h3 class="whitespace-nowrap overflow-hidden text-ellipsis block"><a href="#">깊은 복사 얕은 복사의 차이를 모르곘어요 ㅠㅠ</a></h3>
              <p class="whitespace-nowrap overflow-hidden text-ellipsis block">
                제가 이해한 내용은 얕은 복사는 메모리를 공유하는 거 잖아요? 
              </p>
              <p class="text-[#9DA1B4] text-[0.625rem] font-[400]">남가좌동 • 15분 전 • 조회 12</p>
              
            </div>
          </section>

          <section class="boardSection box-border p-3 flex justify-between items-stretch flex-nowrap flex-row">
            <div class="boardContainer w-[190px]">
              <span class="boardLabel">질의응답</span>
              <h3 class="whitespace-nowrap overflow-hidden text-ellipsis block"><a href="#">CSS flex 중앙정렬 justify-content에서 뭐 줘야해요?</a></h3>
              <p class="whitespace-nowrap overflow-hidden text-ellipsis block">figma보고 코드 짰는데 기억이 안나네;;;;</p>
              <p class="text-[#9DA1B4] text-[0.625rem] font-[400]">남가좌제2동 • 1일 전 • 조회 13</p>
            </div>
            <p class=""></p>
          </section>

          <section class="boardSection box-border p-3 flex justify-between items-stretch flex-nowrap flex-row">
            <div class="boardContainer w-[190px]">
              <span class="boardLabel">자유게시판</span>
              <h3 class="whitespace-nowrap overflow-hidden text-ellipsis block"><a href="#">오늘 점심 뭐먹? 점메추~~~</a></h3>
              <p class="whitespace-nowrap overflow-hidden text-ellipsis block">코드 공부하다 연희동 근처에서 밥먹을건데 밥은 님이 사주셔야합니다</p>
              <p class="text-[#9DA1B4] text-[0.625rem] font-[400]">연희동 • 49분 전 • 조회 4</p>
            </div>
            <p class="w-[60px] h-[60px] rounded-[5px] relative bg-green-400 inine-block "><img src="/" class="absolute -translate-x-2/4 -translate-y-2/4 max-w-full max-h-full left-2/4 top-2/4"  alt="미리보기 사진" /></p>
          </section>

          <section class="boardSection box-border p-3 flex justify-between items-stretch flex-nowrap flex-row">
            <div class="boardContainer w-[190px]">
              <span class="boardLabel">자유게시판</span>
              <h3 class="whitespace-nowrap overflow-hidden text-ellipsis block"><a href="#">짜증을 내어서 무얼하나 ~~~~ </a></h3>
              <p class="whitespace-nowrap overflow-hidden text-ellipsis block">열심히 해야지 모 방법 있겠냐구 화이팅 슈퍼 샤이</p>
              <p>연희동 • 49분 전 • 조회 4</p>
            </div>
            <p class="w-[60px] h-[60px] rounded-[5px] relative bg-green-400 inine-block "><img src="/" class="absolute -translate-x-2/4 -translate-y-2/4 max-w-full max-h-full left-2/4 top-2/4"  alt="미리보기 사진" /></p>
          </section>
        </div>


        
      </main>
     
      <footer class="footer h-[37px] fixed bottom-0 inset-x-0 bg-pink-300 pt-2 pb-6 px-3 box-border"
      >
        <div class="footerWrap flex items-stretch flex-nowrap flex-row justify-between">
          <button class="buttonHome w-[20px] h-[37px]"><img src="/" alt="/" />홈</button>
          <button class="buttonBoard w-[20px] h-[37px]"><img src="/" alt="/" />게시판</button>
          <button class="buttonLocation w-[20px] h-[37px]"><img src="/" alt="/" />내주변</button>
          <button class="buttonChat w-[20px] h-[37px]"><img src="/" alt="/" />채팅</button>
          <button class="buttonMy w-[20px] h-[37px]"><img src="/" alt="/" />나의 이듬</button>
        </div>
      </footer>
    </div>
  </body>
</html>
